fastapi>=0.115.12
uvicorn[standard]>=0.34.0
aiofiles>=24.1.0
pydantic>=2.10.6
requests>=2.31.0
python-dotenv>=1.0.0
redis>=5.0.0
celery>=5.5.1
httpx>=0.27,<0.29
termcolor>=2.4.0
colorama>=0.4.6
markdownify>=1.1.0
selenium>=4.27.1
fake_useragent>=2.1.0
undetected-chromedriver>=3.5.5
chromedriver-autoinstaller>=0.6.4
openai
transformers>=4.46.3
torch>=2.4.1
numpy>=1.24.4
scipy>=1.9.3
ollama>=0.4.7
tqdm>4
pypdf>=5.4.0
setuptools>=75.6.0 